/* table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #664343;
  }
  
  .view-more-btn {
    padding: 5px 10px;
    background-color: #562eb6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px; /* Add spacing between buttons */
  /* }
  
  .view-more-btn:hover {
    background-color: #ff1493;
  }
  
  .delete-btn {
    padding: 5px 10px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #cc0000;
  }

  .search-bar {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .search-input:focus {
    border-color: #6d4bcc; /* Match form input focus color */
  /*}  */

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #664343;
  }
  
  .view-more-btn {
    padding: 5px 10px;
    background-color: #562eb6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px; /* Add spacing between buttons */
  }
  
  .view-more-btn:hover {
    background-color: #ff1493;
  }
  
  .delete-btn {
    padding: 5px 10px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #cc0000;
  }
  
  .search-bar {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .search-input:focus {
    border-color: #6d4bcc; /* Match form input focus color */
  }
  
  .clear-btn {
    padding: 5px 10px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .clear-btn:hover {
    background-color: #cc0000;
  }

  .clear-btn {
    padding: 5px 10px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  .clear-btn:hover {
    background-color: #cc0000;
  }