/* .see-waste-materials-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .see-waste-materials-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #10177a; 
  }
  
  .see-waste-materials-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .see-waste-materials-container th,
  .see-waste-materials-container td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .see-waste-materials-container th {
    background-color: #b4b5f3; 
    color: #000;
  }
  
  .see-waste-materials-container td {
    background-color: #fff;
  } */